<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c3845ebb-627d-4dae-bab5-cec97721fb3b/resourceGroups/Floricultura/providers/Microsoft.Web/sites/Floricultura</ResourceId>
    <ResourceGroup>Floricultura</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://floricultura.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>floricultura.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Floricultura</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Floricultura</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Floricultura" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:raulserver.database.windows.net,1433;Initial Catalog=floricultura;User ID=raul@raulserver.database.windows.net;Password=816RA720ul" Name="Data Source=tcp:raulserver.database.windows.net,1433;Initial Catalog=floricultura;User Id=raul@raulserver.database.windows.net;Password=816RA720ul;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FloriculturaBeta.Models.FloriculturaContext, FloriculturaBeta" MigrationConfiguration="FloriculturaBeta.Migrations.Configuration, FloriculturaBeta" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Floricultura-Web.config Connection String">
      <ParameterValue>Data Source=tcp:raulserver.database.windows.net,1433;Initial Catalog=floricultura;User Id=raul@raulserver.database.windows.net;Password=816RA720ul;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Floricultura" />
  </ItemGroup>
</Project>